/* Global Styles */
*, *:before, *:after {
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
  max-width: 85.375rem;
  margin: auto;
  font-size: 100%;
}

body {    
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  /* background-color: #ABA9BF; */
}

.footer{
  padding: 3.125rem;
  background-color: #333;
}

h1, h2, h3, h4 {
  margin-top: 0px;
}

a{
  color: #333;
  text-decoration: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

p{
  line-height: 2;
}

.container{
  margin-right: 0;
  margin-left: 0;
}

.home-padding{
  padding-top: 4rem;
  padding-bottom: 4rem;
} */

/* CONTAUNER START */
/* .container-flex{
  margin-right: 8rem;
  margin-left: 8rem;
  display: flex;
  flex-wrap: wrap;
}

.container{
  margin-right: 8rem;
  margin-left: 8rem;
}

.home-padding{
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
} */
/* CONTAINER END */

/* UL LI START*/
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
}

ul li .fa{
  margin-right: 1rem;
}

ul li address{
  display: inline-block;
}

ul li:hover .icon-link{
  color: #0BCEAF;
}

ul.icon-social{
  display: flex;
}

ul.icon-social .fa{
  font-size: 1.125rem;
  line-height: 1.875rem;
  padding: 0.25rem 0.875rem;
  margin-right: 10px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.1875rem;
}

ul.icon-social li:hover .icon-link{
  background-color: black;
}

ul.icon-social .fa{
  color: #0BCEAF;
}

/* UL ICON TAG START */
ul.icon-tag{
  display: flex;
}

ul.icon-tag span{
  border: 2px solid #9884fc;
  padding: 4px 10px;
  border-radius: 4px;
  /* margin: 0px 5px; */
}

ul.icon-tag li{
  margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
} 

ul.icon-tag span:hover{
  border: 3px solid black;
  color: #9884fc;
  background-color: black;
}

/* UL ICON TAG END */

/* FOOTER START */
.footer ul li:hover .icon-link{
  color: #6c4eff;
}

.footer ul.icon-social .fa{
  color: #9884fc;
}

.footer ul.icon-social{
  justify-content: center;
}
/* FOOTER END */


/* MAIN START */
.main-header {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  padding: 0.9375rem;
  background-color: #ffffff;
  transition: padding 300ms ease;
  z-index: 5;
}

.main-header.sticky {
  /* padding: 10px 20px; */
  /* box-shadow: 0px .3125rem .625rem #a1a1a1; */
  box-shadow: 0rem .3125rem .625rem #999;
}

.main-header .main-nav a.nav__link {
  position: relative;
  font-size: 1.125rem;
  color: #333;
  text-decoration: none;
  padding: .9rem;
}

.main-header .main-nav a.nav__link:hover{
  color: #0BCEAF;
}

.main-header .main-nav a.nav__link:last-child {
position: relative;  
text-decoration: none;
padding: 0;
}

.main-header .main-nav a.icon-burger{
color: #0BCEAF;
}

.main-nav{
  overflow: hidden;
  margin: 0 auto;
}

/* MAIN END */
.title-center{
  text-align: center;
  margin-bottom: 50px;
}


.main-nav a.icon-burger{
  display: none;
}


.img-avatar{
  width: 100%;
  height: auto;
  /* max-width: 60%; */
  border: 10px solid rgba(60, 75, 148, 0.07);
  margin: 0 auto;
  border-radius: 50%;
}

.section-separator{
  padding: 7rem 0;
}

/* FLEX START */
.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-column.card-two{
  margin: 0px 20px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.flex-row.content.initial{
  align-items: initial;
}

.box-flex{
  flex-grow: 1;
  flex-basis: 40%;
  margin: 1.5625;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-three{
  flex: 3;
}

.flex-one{
  flex: 1;
}


/* FLEX END */
.img-icon-svg{
  max-width: 120px;
  float: left;
}

.title-section{
  margin-right: 8rem;
  margin-left: 8rem;
}

.content{
  margin-left: 5em;
  margin-right: 5em;
  align-items: center;
}



.track-record .info{
  line-height: 0;
}

.timeline__post{
  padding: 1.5rem 2rem;
  margin: 25px 0;
    border-radius: 2px;
    /* border-left: 3px solid #ff6b6b;*/
    border-left: 4px solid #6c4eff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: #fff;
}


.timeline__post .timeline-subtitle{
  opacity: .7;
}

/* BUTTON START*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: #6c4eff;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.25rem;
}

#myBtn:hover {
  background-color: #0bceaf;
}

a.btn-download {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 0.5rem 1.875rem;
  font-weight: bold;
  border-radius: 1.25rem;
  text-decoration: none;
  background-color: #0bceaf;
  color: #fff;
}

/* BUTTON END */

/* list flex */
.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
	display: flex; 
  padding: 0 1.5em 1.5em 1.5em;
	width: 100%;
}

#cv-achieves .content{
  margin-left: 0;
  margin-right: 0;
}
/* @media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
} */
@media all and (min-width: 60em) {
  .list-item {
    /* width: 33.33%; */
    width: 50%;
  }
}
.list-content {
	background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  
  padding: 1.5rem 2rem;
  margin: 25px 0;
    border-radius: 2px;
    border-left: 3px solid #6c4eff;
    box-shadow: 0px 10px 20px 4px #00000015;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24); */
    background-color: #fff;
}

.list-content.green{
  border-left: 3px solid #0bceaf;
}
.list-content p {
	flex: 1 0 auto;
}


/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 2.5rem;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  /* background: #FF6B6B; */
  background: #6c4eff;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content.card {
  padding-bottom: 10px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

.timeline-content p{
  opacity: .8;
}

.timeline-content h3.timeline-title{
  margin-bottom: .1rem;
  color: #0bceaf;
}

.list-item .timeline-content.purple h3.timeline-title{
  margin-bottom: .1rem;
  color: #6c4eff;
}


.timeline-content h4.timeline-subtitle{
  opacity: .6;
}
.timeline-content h4.timeline-subtitle:last-child{
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}
.period .timeline-content.first-section {
  padding: 0px 0 30px;
}

/* timeline */
@media screen and (max-width: 768px) {
  /* .main-nav{float: right;} */
  .main-header{display: block;}
  .main-header a:not(:first-child) {display: none;}
  .main-header .main-nav a.icon-burger {
    float: right;
    display: block;
  }

  .main-nav{position: relative;}

  .main-header.responsive .main-nav a {
    float: none;
    display: block;
    text-align: left;
    padding: .3rem;
  }
  .main-header.responsive .main-nav a.icon-burger {
    position: absolute;
    right: 0;
    top: 0;
  }
}
  
@media screen and (min-width: 40em) {

  /* .main-header.responsive {position: relative;} */


  /* .img-avatar{
    max-width: 20%;
  } */

  .container-flex{
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .home-padding{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .section-separator{
    padding-top: 0rem;
    padding-bottom: 4rem;
  }
  
  
}

/* 960px */
@media screen and (min-width: 60em){
  .main-header{
    height: 80px;
    max-width: 1366px;
    margin: auto;
    box-sizing: border-box;
    font-size: 100%;
  }

  .container-flex{
    margin-right: 7rem;
    margin-left: 7rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container{
    margin-right: 7rem;
    margin-left: 7rem;
  }
  
  .home-padding{
    padding-top: 11.25rem;
    padding-bottom: 11.25rem;
  }

  .section-separator{
    padding-top: 0rem;
    padding-bottom: 11.25rem;
  }

  .flex-column h2{
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .flex-column h4{
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
  }

  /* .img-avatar{
    max-width: 100%;
    min-width: 200px;
    min-height: 200px;
  } */
}